# ━━━━━━━━━━━━━━━━━━━━━━━━━━ Set Variables ━━━━━━━━━━━━━━━━━━━━━━━━━ #
## Handle Codespaces (True when in code spaces)
{{- $codespaces:= env "CODESPACES" | not | not}}

## Save osid (ex: "darwin" or "linux-debian")
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end}}

# ━━━━━━━━━━━━━━━━━━━━━━━ Save Configuration ━━━━━━━━━━━━━━━━━━━━━━━ #
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    ## Personal Info
    name = "Gatlen Culp"
    email = "GatlenCulp@gmail.com"
    domain = "gatlen.me"

    ## Social
    github = "https://github.com/GatlenCulp"
    linkedin = "https://www.linkedin.com/in/gatlen-culp/"
    medium = "https://medium.com/@gatlenculp"
    twitter = "https://twitter.com/GatlenCulp"
    bluesky = "https://bsky.app/profile/gatlen.bsky.social"
    stackoverflow = "https://stackoverflow.com/users/8298372/gatlen-culp"
    calendly = "https://calendly.com/gatlen"
    tripit = "https://tripit.com/people/culpdesigns2"
    paypal = "https://paypal.me/GatlenC"


    ## Machine Info
    codespaces = {{ $codespaces }}
    osid = {{ $osid | quote }}

    # ─────────────────────── Install Options ────────────────────── #
    
    # Core Development (installed regardless of minimal)
    python = true               # Python development environment
    node = true                 # Node.js/JavaScript development
    rust = true                 # Rust development environment
    go = true                   # Go development environment
    enhanced_shell = true                # Neovim configuration

    minimal = false              # Minimal installation (CLI tools only)
    {{ if not .minimal }}
    # Document Processing
    latex = {{ not .minimal }}               # LaTeX tools and environment
    markdown = {{ not .minimal }}            # Markdown tools and processors
    
    # Applications
    terminals = {{ not .minimal }}
    browsers = {{ not .minimal }}           # Web browsers (Chrome, Firefox, etc)
    media = {{ not .minimal }}             # Media tools (VLC, OBS, etc)
    office = {{ not .minimal }}            # Office applications
    communication = {{ not .minimal }}      # Communication apps (Slack, Discord, etc)
    games = {{ not .minimal }}          # Game development tools

    # Special Purpose
    cybersecurity = {{ not .minimal }}      # Cybersecurity tools and frameworks
    fonts = {{ not .minimal }}

    # Development Tools
    databases = {{ not .minimal }}           # Database tools and clients
    editors = {{ not .minimal }}              # Visual Studio Code and extensions
    
    # Development
    supporting_languages = {{ not .minimal }}
    containers = {{ not .minimal }}          # Container tools and Docker
    shell_utils = {{ not .minimal }}
    git_utils = {{ not .minimal }}
    misc_utils = {{ not .minimal }}
    {{ end }}