*
secrets/

!.gitignore
!.vscode/**
!bashrc/**
!bin/**
!btop/**
!crossnote/**
!dracula-theme/**
!eza/**
!fastfetch/**
!gh/**
!iterm2/**
!oh-my-posh/**
!oh-my-zsh/**
!shrc/**
!thefuck/**
!vscode/**
!zshrc/**
!.config.icns
!.zshrc
!.zprofile
!.tmux.conf
!.shrc
!.functions
!.exports
!.inputrc
!.bash_profile
!.aliases
!Icon
!LICENSE
!README.md