{{- if eq .osid "darwin" -}}
#!/bin/bash

# Make sure this script runs after package installation
if ! command -v nix-shell >/dev/null 2>&1; then
    # Determinant Systems Typically Recommended
    curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix |
        sh -s -- install --determinate
    
else
    echo "nix is already installed, skipping installation"
fi

# Nix Darwin for System Configurations
nix run nix-darwin -- switch --flake ~/.config/nix-darwin

{{ end -}}
